.auth-container{
    width: 560px;
}

.mainSection{
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
}

.title {
    text-align: center;
}

.button,
.button input{
    width: 276px;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 600;
    padding: 4px;
    text-align: center;
}

.sign-up{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.sign-up a {
    color: #0085D0;
    text-decoration: none;
}

.sign-up a:hover {
    color: #F9C236;
    cursor: pointer;
}

.button{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
}

.button input{
    background-color: #0085D0;
    color: white;
    font-family: 'Poppins', sans-serif;
    border: 3px solid #0085D0;;
    margin-top: 2rem;
}

.button input:hover {
    cursor: pointer;
    background-color: #F9C236;
    border-color: #F9C236;
}

.formInput span{
    color: #d70707;
}