@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.button input{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    padding: 12px 0 12px 0;
    background-color: #0085D0;
    width: 335px;
    border-radius: 50px;
    border: none;
    text-align: center;
}

.button input:hover {
    background-color: #F9C236;
    cursor: pointer;
}

.button {
    margin: 90px 0 90px 0;
    width: 100%;
    text-align: center;
}