@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

a {
    text-decoration: none;
}

.update-button input,
.delete-button {
    font-family: 'Poppins', sans-serif;
    width: 276px;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 600;
    padding: 4px;
    text-align: center;
}

.update-button input{
    background-color: white;
    border: 3px solid #00D053;
    color: #00D053;
}

.update-button input:hover {
    background-color: #00D053;
    color: white;
    cursor: pointer;
}

.update-button-container {
    margin: 90px 0 90px 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.delete-button{
    background-color: white;
    border: 3px solid #d70707;
    color: #d70707;
}

.delete-button,
.update-button {
    margin-left: 12px;
    margin-right: 12px;
}

.delete-button:hover {
    background-color: #d70707;
    border: 3px solid #d70707;
    color: #ffffff;
    cursor: pointer;
}