.flex-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.subTitle{
    font-size: 20px;
    font-weight: 600;
}

.two-column{
    display: flex;
    justify-content: space-between;
}

.button,
.button input{
    width: 276px;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 600;
    padding: 4px;
    text-align: center;
}

.options-button a{
    text-decoration: none;
}

.edit-button{
    background-color: white;
    color: #F9C236;
    margin-bottom: 16px;
    border: 3px solid #F9C236;
}

.history-button{
    background-color: white;
    border: 3px solid #0085D0;
    color: #0085D0;
}

.edit-button:hover {
    background-color: #F9C236;
    color: white;
    cursor: pointer;
}

.history-button:hover {
    background-color: #0085D0;
    color: white;
    cursor: pointer;
}

.detail {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    margin-top: 1rem;
}

.detail img{
    margin-right: 12px;
}

.registerForm .formInput {
    margin-top: 55px;
}

.registerForm .button{
    width: 100%;
}

.button input{
    background-color: #0085D0;
    color: white;
    font-family: 'Poppins', sans-serif;
    border: 3px solid #0085D0;;
    margin-top: 2rem;
}

.button input:hover {
    cursor: pointer;
    background-color: #F9C236;
    border-color: #F9C236;
}

.listTitle {
    font-size: 28px;
    line-height: 42px;
    font-weight: 600;
    margin-bottom: 18px;
}

.listContainer {
    border: 3px solid #E1B237;
    background-color: #F4E1B3;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listElement {
    font-size: 22px;
    font-weight: 400;
    margin-left: 8px;
}

.participationList {
    margin-top: 124px;
}

.listNumberContainer {
    text-align: right;
    margin-right: 8px;
}

.listContentContainer,
.listContentContainer a{
    display: flex;
    align-items: flex-start;
}