@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

a {
    text-decoration: none;
    color: black;
}

body{
    font-family: 'Poppins', sans-serif;
}

.add-button{
    font-family: 'Poppins', sans-serif;
    width: 200px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    padding: 4px;
    text-align: center;
    background-color: white;
    border: 3px solid #00D053;
    color: #00D053;
}

.post-button input{
    font-family: 'Poppins', sans-serif;
    width: 200px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    padding: 4px;
    text-align: center;
    background-color: white;
    border: 3px solid #00D053;
    color: #00D053;
}

.back-button{
    font-family: 'Poppins', sans-serif;
    width: 200px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    padding: 4px;
    text-align: center;
    background-color: white;
    border: 3px solid #F9C236;
    color: #F9C236;
}


.add-button-container, .back-button-container{
    margin: 30px;
    text-align: center;
    float: right;
}

.add-button:hover, .post-button:hover{
    background-color: #00D053;
    border: 3px solid #00D053;
    color: #ffffff;
    cursor: pointer;
}

.back-button:hover{
    background-color: #F9C236;
    border: 3px solid #F9C236;
    color: #ffffff;
    cursor: pointer;
}






.button input{
    font-family: 'Poppins', sans-serif;
    color: #00D053;
    font-weight: 600;
    font-size: 20px;
    line-height: 45px;
    padding: 12px 0 12px 0;
    background-color: white;
    width: 200px;
    border-radius: 30px;
    border: 3px solid #00D053;
    text-align: center;
    padding: 4px;
}

.button input:hover {
    background-color: #00D053;
    border: 3px solid #00D053;
    color: #ffffff;
    cursor: pointer;
}

.button {
    margin: 10px;
    text-align: center;
}





.mainSection {
    margin: 50px;
}

.notFound {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 54px;
    font-weight: 600;
    margin-bottom: 100px;
}

.giantTitle {
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 64px;
}

.giantSubTitle {
    font-size: 36px;
}

.giantTitle,
.giantSubTitle {
    text-align: center;
}

footer {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.navbar .menuCont .menu a,
.navbar .menuCont .menu span,
.navbar .menuCont .menu{
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: #000000;
}

.navbar .menuCont .menu a:hover{
    cursor: pointer;
    color: #0085D0 !important;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.menuCont{
    display: flex;
}

.menu{
    margin: 0 10px 0 10px;
}

.formInput {
    margin-bottom: 40px;
}

.formLabel{
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
}

.formInput input,
.formInput .input
{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 500;
    padding: 15px;
    margin-top: 10px;
    width: 100%;
    background-color: #E0DEDE;
    border: none;
    border-radius: 5px;
}

.formInput select,
.formInput textarea {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 500;
    padding: 15px;
    margin-top: 10px;
    width: 100%;
    background-color: #E0DEDE;
    border: none;
    border-radius: 5px;
}

.listContainer {
    border: 3px solid #E1B237;
    background-color: #F4E1B3;
    border-radius: 10px;
    margin-bottom: 25px;
    display:inline-block;
    padding:25px 1px;
    line-height:140%;
    width: 100%;
}

/*:root {
  --widthVar: 100%;
}*/

.listContainer2 {
    border: 3px solid #E1B237;
    background-color: #F4E1B3;
    border-radius: 10px;
    margin-bottom: 25px;
    display:inline-block;
    padding:25px 1px;
    line-height:140%;
    width: 90%;
    float: right;
}

.listContainer:hover,
.listContainer2:hover{
    background-color: #83d3fc;
    border-color: #0085D0;
}

.listContainer3 {
    border: 3px solid #E1B237;
    background-color: #F4E1B3;
    border-radius: 10px;
    margin-bottom: 25px;
    display:inline-block;
    padding:25px 1px;
    line-height:140%;
    width : 80%;
    float: right;
}


.titleContainer {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-left:30px;
}

.questionContainer {
    font-size: 22px;
    font-weight: 300;
    margin-left:30px;
}


.post-btn input,
.back-btn {
    font-family: 'Poppins', sans-serif;
    width: 220px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    padding: 4px;
    text-align: center;
}

.post-btn input{
    background-color: white;
    border: 3px solid #00D053;
    color: #00D053;
}

.post-btn input:hover {
    background-color: #00D053;
    color: white;
    cursor: pointer;
}

.post-btn-container {
    margin: 90px 0 90px 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.back-btn{
    background-color: white;
    border: 3px solid #F9C236;
    color: #F9C236;
}

.back-btn,
.post-btn {
    margin-left: 12px;
    margin-right: 12px;
}

.back-btn:hover {
    background-color: #F9C236;
    border: 3px solid #F9C236;
    color: #ffffff;
    cursor: pointer;
}

.questionOwner{
    font-size: 18px;
    font-style: italic;
    margin-top: 20px;
    float: right;
    margin-right: 30px;
}

