.historyList{
  margin-top: 80px;
  margin-left: 30px;
  margin-right: 30px
}
.history-title{
  font-weight: bold;
  font-size: xx-large
}
.history-block{
  display: block;
  margin-top: 75px;
  font-weight: bold;
  font-size: x-large
}
.listContainer {
  border: 3px solid #E1B237;
  background-color: #F4E1B3;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.button,
.button input{
  width: 276px;
  border-radius: 50px;
  font-size: 24px;
  font-weight: 600;
  padding: 4px;
  text-align: center;
}

.options-button a{
  text-decoration: none;
}

.edit-button{
  background-color: white;
  color: #F9C236;
  margin-bottom: 16px;
  border: 3px solid #F9C236;
}

.history-button{
  background-color: white;
  border: 3px solid #0085D0;
  color: #0085D0;
}

.edit-button:hover {
  background-color: #F9C236;
  color: white;
  cursor: pointer;
}

.history-button:hover {
  background-color: #0085D0;
  color: white;
  cursor: pointer;
}

.button input{
  background-color: #0085D0;
  color: white;
  font-family: 'Poppins', sans-serif;
  border: 3px solid #0085D0;;
  margin-top: 2rem;
}

.button input:hover {
  cursor: pointer;
  background-color: #F9C236;
  border-color: #F9C236;
}