@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.mainSection {
    margin: 50px;
}

.notFound {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 54px;
    font-weight: 600;
    margin-bottom: 64px;
}

.giantTitle {
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 64px;
}

.giantSubTitle {
    font-size: 36px;
}

.giantTitle,
.giantSubTitle {
    text-align: center;
}

footer {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.navbar .menuCont .menu a,
.navbar .menuCont .menu span,
.navbar .menuCont .menu{
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: #000000;
}

.navbar .menuCont .menu a:hover{
    cursor: pointer;
    color: #0085D0 !important;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.menuCont{
    display: flex;
}

.menu{
    margin: 0 10px 0 10px;
}

.formInput {
    margin-bottom: 40px;
}

.formLabel{
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
}

.formInput input,
.formInput .input
{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 500;
    padding: 15px;
    margin-top: 10px;
    width: 100%;
    background-color: #E0DEDE;
    border: none;
    border-radius: 5px;
}

.formInput select,
.formInput textarea {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 500;
    padding: 15px;
    margin-top: 10px;
    width: 100%;
    background-color: #E0DEDE;
    border: none;
    border-radius: 5px;
}