<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Create Event</title>
    <link th:href="@{/css/createEvent.css}" rel="stylesheet" />
    <link th:href="@{/css/templateStyle.css}" rel="stylesheet" />
</head>
<body>
<div class="navbar">
    <div class="menuCont">
        <div class="menu">
            <a th:href="@{/}">Let Me In!</a>
        </div>
    </div>
    <div class="menuCont">
        <div class="menu">
            <a th:href="@{/messages}">Inbox</a>
        </div>
        <div class="menu">
            <a th:href="@{/help/}">Help</a>
        </div>
        <div class="menu">
            <a th:href="@{/explore}">Explore</a>
        </div>
        <div class="menu" sec:authorize="isAuthenticated()">
            <form id="logoutForm" method="POST" th:action="@{/logout}">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>
            <span sec:authentication="name">
            </span> |
            <a onclick="document.forms['logoutForm'].submit()"> Logout</a>
        </div>
    </div>
</div>
    <div class="mainSection">
        <div class="title">
            Create Event
        </div>
        <div class="createForm">
            <form th:action="@{/event/eventcreated}" method="post">
                <div class="formInput">
                    <div class="formLabel">Event Name</div>
                    <input name="eventName" type="text" placeholder="Coding for fun" required/>
                </div>
                <div class="formInput">
                    <div class="formLabel">Date</div>
                    <input name="eventDate" type="date" placeholder="31 January 2021" required/>
                </div>
                <div class="formInput">
                    <div class="formLabel">Time</div>
                    <input name="eventTime" type="time" placeholder="12:00" required/>
                </div>
                <div class="formInput">
                    <div class="formLabel">Location</div>
                    <input name="eventLocation" type="text" placeholder="Somewhere in University of Indonesia" required/>
                </div>
                <div class="formInput" style="display:none;">
                    <div class="formLabel">EventOwner</div>
                    <input name="eventOwner" type="text" th:value="${principal}" />
                </div>
                <div class="formInput">
                    <div class="formLabel">Description</div>
                    <textarea name="eventDescription" placeholder="This event is about..." ></textarea>
                </div>
                <div class="formInput">
                    <div class="formLabel">Participant Limit</div>
                    <input name="participantLimit" type="number" placeholder="10" required/>
                </div>
                <div class="button">
                    <input type="submit" value="Create"/>
                </div>
            </form>
        </div>
    </div>
<footer>
    Probably Footer
</footer>
</body>
</html>