<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Edit Event</title>
    <link th:href="@{/css/templateStyle.css}" rel="stylesheet" />
    <link th:href="@{/css/findEventById.css}" rel="stylesheet" />
    <link th:href="@{/css/editEvent.css}" rel="stylesheet" />
</head>
<body>
<div class="navbar">
    <div class="menuCont">
        <div class="menu">
            <a th:href="@{/}">Let Me In!</a>
        </div>
    </div>
    <div class="menuCont">
        <div class="menu">
            <a th:href="@{/messages}">Inbox</a>
        </div>
        <div class="menu">
            <a th:href="@{/help/}">Help</a>
        </div>
        <div class="menu">
            <a th:href="@{/explore}">Explore</a>
        </div>
        <div class="menu" sec:authorize="isAuthenticated()">
            <form id="logoutForm" method="POST" th:action="@{/logout}">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>
            <span sec:authentication="name">
            </span> |
            <a onclick="document.forms['logoutForm'].submit()"> Logout</a>
        </div>
    </div>
</div>
<div class="mainSection" th:object="${event}">
    <div class="title">
        <span class="title">Edit Event</span><br>
        <div class="subTitle" th:text="${event.eventName}"></div>
    </div>
    <div class="createForm">
        <form th:action="@{/event/saveupdates}" th:method="POST">
            <div style="display: none" class="formInput">
                <div class="formLabel">EventiId</div>
                <input name="eventId" type="number" th:value="${event.eventId}" />
            </div>
            <div style="display: none" class="formInput">
                <div class="formLabel">EventiId</div>
                <input name="currentUser" type="text" th:value="${principal}" />
            </div>
            <div class="formInput">
                <div class="formLabel">Event Name</div>
                <input name="eventName" type="text" th:placeholder="${event.eventName}" th:value="${event.eventName}" required/>
            </div>
            <div class="formInput">
                <div class="formLabel">Date</div>
                <input name="eventDate" type="date" th:placeholder="${event.eventDate}" th:value="${event.eventDate}" required/>
            </div>
            <div class="formInput">
                <div class="formLabel">Time</div>
                <input name="eventTime" type="time" th:placeholder="${event.eventTime}" th:value="${event.eventTime}" required/>
            </div>
            <div class="formInput">
                <div class="formLabel">Location</div>
                <input name="eventLocation" type="text" th:placeholder="${event.eventLocation}" th:value="${event.eventLocation}" required/>
            </div>
            <div class="formInput">
                <div class="formLabel">Description</div>
                <textarea name="eventDescription" th:placeholder="${event.eventDescription}" th:text="${event.eventDescription}"></textarea>
            </div>
            <div class="formInput" style="display:none;">
                <div class="formLabel">EventOwner</div>
                <input name="eventOwner" type="text" th:value="${event.eventOwner}" />
            </div>
            <div class="formInput">
                <div class="formLabel">Participant Limit</div>
                <input name="participantLimit" type="number" th:placeholder="${event.participantLimit}" th:value="${event.participantLimit}" required/>
            </div>
            <div class="update-button-container">
                <div class="update-button">
                    <input type="submit" value="Save Changes"/>
                </div>
            </div>
        </form>
        <a th:href="@{/event/{id}/deleteEvent(id = ${event.eventId})}" th:method="GET">
            <div class="update-button-container">
                <div class="delete-button">
                    Delete Event
                </div>
            </div>
        </a>
    </div>
    <div class="participationList">
        <div class="listTitle">
            Remove Participants
        </div>
        <div class="listContainer">
            <div th:each="participant : ${event.pesertaEvent}">
                <div class="listContentContainer" style="align-items: center">
                    <a th:href="@{/event/{id}/remove/{Username}(id=${event.eventId}, Username=${participant.Username})}">
                        <img th:src="@{/images/Delete.png}" alt="remove" width="21px" height="21px" />
                    </a>
                    <div class="listElement" th:text="${participant.Username}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    Probably Footer
</footer>
</body>
</html>