<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/templateStyle.css}" rel="stylesheet" />
    <title>Oopss...</title>
</head>
<body>
<div class="navbar">
    <div class="menuCont">
        <div class="menu">
            <a th:href="@{/}">Let Me In!</a>
        </div>
    </div>
    <div class="menuCont">
        <div class="menu">
            <a th:href="@{/messages}">Inbox</a>
        </div>
        <div class="menu">
            <a th:href="@{/help/}">Help</a>
        </div>
        <div class="menu">
            <a th:href="@{/explore}">Explore</a>
        </div>
        <div class="menu" sec:authorize="isAuthenticated()">
            <form id="logoutForm" method="POST" th:action="@{/logout}">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>
            <span sec:authentication="name">
            </span> |
            <a onclick="document.forms['logoutForm'].submit()"> Logout</a>
        </div>
    </div>
</div>
<div class="mainSection notFound">
    <div class="giantTitle">
        Oops... Something's Wrong Here
    </div>
    <div class="giantSubTitle">
        Looks like we couldn't find what you are looking for 😣😣
    </div>
</div>
</body>
</html>