<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/findEventByKeyword.css}" rel="stylesheet" />
    <link th:href="@{/css/templateStyle.css}" rel="stylesheet" />
    <title>Explore Event</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>

    </style>
</head>
<body>
<div class="navbar">
    <div class="menuCont">
        <div class="menu">
            <a th:href="@{/}">Let Me In!</a>
        </div>
    </div>
    <div class="menuCont">
        <div class="menu">
            <a th:href="@{/messages}">Inbox</a>
        </div>
        <div class="menu">
            <a th:href="@{/help/}">Help</a>
        </div>
        <div class="menu">
            <a th:href="@{/explore}">Explore</a>
        </div>
        <div class="menu" sec:authorize="isAuthenticated()">
            <form id="logoutForm" method="POST" th:action="@{/logout}">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>
            <span sec:authentication="name">
            </span> |
            <a onclick="document.forms['logoutForm'].submit()"> Logout</a>
        </div>
    </div>
</div>
<div class="mainSection">
    <div class="registerForm">
        <div class="formInput">
            <div class="listTitle">Search Event</div>
            <input name="keyword" type="text" placeholder="Event Name" id="keyword"/>
        </div>
        <div class="button">
            <input type="button" value="Clear"  id="button-clear"/>
        </div>
    </div>
    <br/>
    <div class="flex-column">
        <div id="list-event" style="display: flex; flex-wrap: wrap">
        </div>
    </div>
</div>

<footer>
    Probably Footer
</footer>

<script>
    $("#keyword").keyup(function () {
        var keyword = $("#keyword").val();
        var url_explore = "/explore/api/" + keyword;
        $.ajax({
            url: url_explore,
            success: function (json) {
            console.log("SUCCESS")
                $("#list-event").empty();
                for (let i = 0; i < json.length; i++) {
                    console.log("LOOP")
                    var id = json[i].eventId;
                    var name = json[i].eventName;
                    var creator = json[i].eventOwner;
                    var date = json[i].eventDate;
                    var time = json[i].eventTime;
                    var owner = json[i].eventOwner;
                    var location = json[i].eventLocation;
                    console.log(name, date, time, owner, location)
                    $("#list-event").append(
                    '<div class="listContainer" style="padding: 25px"><div class="title" style="width: 290px; margin-bottom: 0"><span class="title" style="font-size: 30px; margin-bottom: 0">'
                    + name +
                    '</span><br><div class="subTitle" style="font-size: 16px">Created by'
                    + owner +
                    '</div><div class="event-detail"><div class ="detail"><img alt="date" width="25px" src="/images/image1.png"/><div> : <span style="font-size: 20px">'
                    + date +
                    '</span></div></div><div class="detail"><img alt="time" width="25px" src="/images/image2.png"/><div> : <span style="font-size: 20px">'
                    + time +
                    '</span></div></div><div class="detail"><img alt="location" width="25px" src="/images/image3.png"/><div> : <span style="font-size: 20px">'
                    + location +
                    '</span></div></div></div><br><div class="options-button"><a href="http://tka3-letmein.herokuapp.com/event/'+ id +'"><div class="edit-button button" style="font-size: 20px">Go To Event</div></a></div>');
                }
            }
        })
    });

    $( "#button-clear" ).click(function() {
        $("#keyword").val("");
        $("#list-event").empty();
    });
</script>
</body>
</html>
