<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/templateStyle.css}" rel="stylesheet"/>
  <link th:href="@{/css/historyEvent.css}" rel="stylesheet"/>
  <title>History Event</title>
  <style>

  </style>
</head>
<body>
<div class="navbar">
  <div class="menuCont">
    <div class="menu">
      <a th:href="@{/}">Let Me In!</a>
    </div>
  </div>
  <div class="menuCont">
    <div class="menu">
      <a th:href="@{/messages}">Inbox</a>
    </div>
    <div class="menu">
      <a th:href="@{/help/}">Help</a>
    </div>
    <div class="menu">
      <a th:href="@{/explore}">Explore</a>
    </div>
    <div class="menu" sec:authorize="isAuthenticated()">
      <form id="logoutForm" method="POST" th:action="@{/logout}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
      </form>
      <span sec:authentication="name">
            </span> |
      <a onclick="document.forms['logoutForm'].submit()"> Logout</a>
    </div>
  </div>
</div>
<div class="historyList">
  <div class="history-title">
    Event History
  </div>
  <div class="history-block" style="display: flex; width: 100%; justify-content: space-between">
    <div>
      History
    </div>
    <div class="options-button">
      <a th:href="@{/event/{id}(id=${event})}">
        <div class="history-button button">Back</div>
      </a>
    </div>
  </div>
  <div class="listContainer">
    <div th:each="log : ${History}">
      <li th:text="${log.description}"></li>
      <br>
    </div>
  </div>
</div>
</div>
<footer>
  Probably Footer
</footer>
</body>
</html>