<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/findEventById.css}" rel="stylesheet" />
    <link th:href="@{/css/templateStyle.css}" rel="stylesheet" />
    <title>Event</title>
</head>
<body>
<div class="navbar">
    <div class="menuCont">
        <div class="menu">
            <a th:href="@{/}">Let Me In!</a>
        </div>
    </div>
    <div class="menuCont">
        <div class="menu">
            <a th:href="@{/messages}">Inbox</a>
        </div>
        <div class="menu">
            <a th:href="@{/help/}">Help</a>
        </div>
        <div class="menu">
            <a th:href="@{/explore}">Explore</a>
        </div>
        <div class="menu" sec:authorize="isAuthenticated()">
            <form id="logoutForm" method="POST" th:action="@{/logout}">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>
            <span sec:authentication="name">
            </span> |
            <a onclick="document.forms['logoutForm'].submit()"> Logout</a>
        </div>
    </div>
</div>
<div class="mainSection" th:object="${event}">
    <div class="title">
        <span class="title" th:text="${event.eventName}"></span><br>
        <div class="subTitle" th:text="${'Created by ' + event.eventOwner}">
        </div>
        <div class="subTitle" th:text="${'Event Id - ' +event.eventId}">
        </div>
    </div>
    <div class="two-column">
        <div class="event-detail">
            <div class="detail">
                <img th:src="@{/images/image1.png}" alt="date" width="36px"/>
                <div>: <span th:text="${event.eventDate}"></span></div>
            </div>
            <div class="detail">
                <img th:src="@{/images/image2.png}" alt="time" width="36px"/>
                <div>: <span th:text="${event.eventTime}"></span></div>
            </div>
            <div class="detail">
                <img th:src="@{/images/image3.png}" alt="location" width="36px"/>
                <div>: <span th:text="${event.eventLocation}"></span></div>
            </div>
            <div class="detail">
                <div> current participants : <span th:text="${event.participantsNumber + '/' + event.participantLimit }"></span></div>
            </div>
            <div class="detail">
                <div th:text="${event.eventDescription}"></div>
            </div>
        </div>
        <div class="options-button">
            <a th:if="${principal.equals(event.eventOwner)}" th:href="@{/event/{id}/edit(id=${event.eventId})}">
                <div class="edit-button button">Edit Event</div>
            </a>
            <a th:href="@{/history/event/{id}(id=${event.eventId})}">
                <div class="history-button button">Event History</div>
            </a>
        </div>
    </div>
    <div class="registerForm" th:if="${!isRegistered}">
        <form th:action="@{/event/register}" method="post">
            <div class="formInput">
                <div class="formLabel">Participant's Name</div>
                <div class="input" sec:authentication="name"></div>
                <input style="display: none" name="participantName" type="text" placeholder="John Doe" th:value="${principal}"/>
                <input style="display: none" name="eventId" type="number" th:value="${event.eventId}"/>
            </div>
            <div class="button">
                <input type="submit" value="Register"/>
            </div>
        </form>
    </div>
    <div class="participationList">
        <div class="listTitle">
            Current Participants
        </div>
        <div class="listContainer">
            <div class="listContentContainer" th:each="participant : ${event.pesertaEvent}">
                <div class="listElement" th:text="${participant.Username}">
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    Probably Footer
</footer>
</body>
</html>