<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <title>Add Question</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link th:href="@{/css/help.css}" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div class="navbar">
  <div class="menuCont">
    <div class="menu">
      <a th:href="@{/}">Let Me In!</a>
    </div>
  </div>
  <div class="menuCont">
    <div class="menu">
      <a th:href="@{/messages}">Inbox</a>
    </div>
    <div class="menu">
      <a th:href="@{/help/}">Help</a>
    </div>
    <div class="menu">
      <a th:href="@{/explore}">Explore</a>
    </div>
    <div class="menu" sec:authorize="isAuthenticated()">
      <form id="logoutForm" method="POST" th:action="@{/logout}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
      </form>
      <span sec:authentication="name">
            </span> |
      <a onclick="document.forms['logoutForm'].submit()"> Logout</a>
    </div>
  </div>
</div>



<div class="mainSection">

  <div class="title">
    <span class="title">Help</span><br>
  </div>



  <form class="createForm" id="form-question">

    <div class="formInput">
      <div class="formLabel">Title Question</div>
      <input name="title" type="text" id="title-question" required/>
    </div>

    <div class="formInput">
      <div class="formLabel">Question</div>
      <textarea name="content" placeholder="Put your question here..." id="question-deskripsi" required></textarea>
    </div>

    <div class="formInput" style="display: none">
      <div class="formLabel" style="display: none">Owner</div>
      <input name="title" type="text" id="principal" th:value="${principal}" required/>
    </div>


    <div class="add-button-container">
      <div class="post-btn">
        <input type="submit" value="Post"/>
      </div>
    </div>

    </form>

    <a th:href="@{/help/}">
      <div class="back-button-container">
        <div class="back-button">
          Back
        </div>
      </div>
    </a>

</div>

<script>

  $("#form-question").submit(function(e) {
    e.preventDefault();
    var title = $("#title-question").val();
    var deskripsi = $("#question-deskripsi").val();
    var principal = $("#principal").val();
    const request_body = {"title":title, "content":deskripsi, "questionOwner":principal};
    var url_data = "https://tka3-letmein-help.herokuapp.com/help/api/add-question";

    $.ajax({
      method : 'POST',
      headers: {
         "Access-Control-Allow-Origin": "*",
         "Access-Control-Allow-Methods": "POST, GET",
         "Access-Control-Allow-Headers": "Content-Type, Access-Control-Allow-Headers, Authorization",
         'Content-Type': 'application/json'
      },
      url : url_data,
      data : JSON.stringify(request_body),
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function(response) {
        window.location.replace("https://tka3-letmein.herokuapp.com/help");
        console.log(response);
      },
    });
  });

</script>
</body>
</html>