<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Help</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

    <div th:fragment="help">

        <div th:each="question: ${questions}">

            <div th:if="${question.getIdParent() == 0}">
                <div class="listContainer" var="question.idQuestion"
                     th:onclick="'window.location.href = \'' + @{/help/{idQuestion}/add-answer(idQuestion=${question.idQuestion})} + '\''"
                     style="cursor: pointer;">
                    <div class="titleContainer" th:text="${question.getTitle()}"></div>
                    <div class="questionContainer" th:text="${question.getContent()}"></div>
                    <div class="questionOwner" th:text="${question.getQuestionOwner()}"></div>
                </div>

                <div th:include="@{fragment} :: help2" th:with="questions2=${question.ansList}, idParent = ${question.idQuestion}"></div>
            </div>

        </div>

    </div>



    <div th:fragment="help2">

        <div th:each="question: ${questions2}">

            <div th:if="${question.getIdParent() == idParent}">
                <div class="listContainer2" var="question.idQuestion"
                     th:onclick="'window.location.href = \'' + @{/help/{idQuestion}/add-answer(idQuestion=${question.idQuestion})} + '\''"
                     style="cursor: pointer;">
                    <div class="titleContainer" th:text="${question.getTitle()}"></div>
                    <div class="questionContainer" th:text="${question.getContent()}"></div>
                    <div class="questionOwner" th:text="${question.getQuestionOwner()}"></div>
                </div>

                <div th:include="@{fragment} :: help2" th:with="questions2=${question.ansList}, idParent = ${question.idQuestion}"></div>
            </div>

        </div>

    </div>

</body>
</html>