<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Help</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/help.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function getData() {
            var url_data = "https://tka3-letmein-help.herokuapp.com/help/api/question";
            $.ajax({
                url: url_data,
                headers: {
                    "Access-Control-Allow-Origin": "*",
                    "Access-Control-Allow-Methods": "POST, GET",
                    "Access-Control-Allow-Headers": "Content-Type, Access-Control-Allow-Headers, Authorization",
                    'Content-Type': 'application/json'
                },
                success: function(json) {
                    for (let i = 0; i < json.length; i++) {
                        var title = json[i].title;
                        var content = json[i].content;
                        var answerList = json[i].ansList;
                        var data_help = title + " " + content;
                        var parent = json[i].idParent;
                        var idQuestion = json[i].idQuestion;
                        var questionOwner = json[i].questionOwner;
                        if (parent == 0) {
                            $("#hasil-ajax").append('<div class="parent" id="answer-question"><a href="https://tka3-letmein.herokuapp.com/help/add-answer/'+idQuestion+'"><div class="listContainer" onclick="redirect()"><div class="titleContainer">' + title + '</div><div class="questionContainer">' + content + '</div><div class="questionOwner">' + questionOwner + '</div></div></a></div>');
                            if (answerList.length != 0) {
                                var k;
                                for (k = 0; k < answerList.length; k++) {
                                    if (answerList[k].idParent == idQuestion) {
                                        $("#hasil-ajax").append('<div><a href="https://tka3-letmein.herokuapp.com/help/add-answer/'+answerList[k].idQuestion+'"><div class="listContainer2"><div class="questionContainer">' + answerList[k].content + '</div><div class="questionOwner">' +  answerList[k].questionOwner + '</div></a></div>');
                                        if (answerList[k].ansList.length != 0) {
                                            var j;
                                            for (j = 0; j < answerList[k].ansList.length; j++) {
                                                if (answerList[k].ansList[j].idParent == answerList[k].idQuestion){
                                                    $("#hasil-ajax").append('<div class="listContainer3"><div class="questionContainer">' + answerList[k].ansList[j].content + '</div><div class="questionOwner">' +  answerList[k].ansList[j].questionOwner + '</div></div>');
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            })
        }
        getData();
    </script>
</head>

<body>
<div class="navbar">
    <div class="menuCont">
        <div class="menu">
            <a th:href="@{/}">Let Me In!</a>
        </div>
    </div>
    <div class="menuCont">
        <div class="menu">
            <a th:href="@{/messages}">Inbox</a>
        </div>
        <div class="menu">
            <a th:href="@{/help/}">Help</a>
        </div>
        <div class="menu">
            <a th:href="@{/explore}">Explore</a>
        </div>
        <div class="menu" sec:authorize="isAuthenticated()">
            <form id="logoutForm" method="POST" th:action="@{/logout}">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>
            <span sec:authentication="name">
            </span> |
            <a onclick="document.forms['logoutForm'].submit()"> Logout</a>
        </div>
    </div>
</div>
<div class="mainSection">
    <div class="title">
        <span class="title">Help</span><br>
        <a th:href="@{/help/add-question}">
            <div class="add-button-container">
                <div class="add-button">
                    Add Question
                </div>
            </div>
        </a>
    </div>
    <div id="hasil-ajax">
    </div>
</div>
</body>

</html>