<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Log in with your account</title>
    <!--    <link href="/css/main.css" rel="stylesheet">-->
    <link th:href="@{/css/templateStyle.css}" rel="stylesheet" />
    <link th:href="@{/css/authentication.css}" rel="stylesheet" />
</head>

<body>
<div class="navbar">
    <div class="menuCont">
        <div class="menu">
            <a th:href="@{/}">Let Me In!</a>
        </div>
    </div>
</div>
<div class="mainSection">
    <div class="auth-container">
        <div class="title">
            Log In
        </div>
        <div class="createForm">
            <form method="POST" th:action="@{/login}">
                <div class="formInput">
                    <div class="formLabel">User Name</div>
                    <input name="username" type="text" class="form-control" placeholder="Username"/>
                </div>
                <div class="formInput">
                    <div class="formLabel">Password</div>
                    <input name="password" type="password" class="form-control" placeholder="Password"/>
                    <span class="has-error" th:text="${error}"></span>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                </div>
                <div class="button">
                    <input type="submit" value="Log In">
                </div>
            </form>
        </div>
        <div class="sign-up">
            Don't have an account yet? <a th:href="@{/registration}">Sign Up!</a>
        </div>
    </div>
</div>
<footer>
    Probably Footer
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</body>
</html>