<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Create an account</title>
<!--    <link href="/css/common.css" rel="stylesheet">-->
    <link th:href="@{/css/templateStyle.css}" rel="stylesheet" />
    <link th:href="@{/css/authentication.css}" rel="stylesheet" />
</head>

<body>
<div class="navbar">
    <div class="menuCont">
        <div class="menu">
            <a th:href="@{/}">Let Me In!</a>
        </div>
    </div>
</div>
<div class="mainSection">
    <div class="auth-container">
        <div class="title">
            Sign Up!
        </div>
        <div class="createForm">
            <form method="POST" th:object="${userForm}" th:action="@{/registration}">
                <div class="formInput">
                    <div class="formLabel">User Name</div>
                    <input type="text" th:field="*{username}" class="form-control" placeholder="Username"/>
                    <span class="has-error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                </div>
                <div class="formInput">
                    <div class="formLabel">Password</div>
                    <input type="password" th:field="*{password}" class="form-control" placeholder="Password">
                    <span class="has-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </div>
                <div class="formInput">
                    <div class="formLabel">Password Confirmation</div>
                    <input type="password" th:field="*{passwordConfirm}" class="form-control" placeholder="Confirm your password"/>
                    <span th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></span>
                </div>
                <div class="button">
                    <input type="submit" value="Sign Up">
                </div>
            </form>
        </div>
        <div class="sign-up">
            Already have an account? <a th:href="@{/login}">Log In!</a>
        </div>
    </div>
</div>
<footer>
    Probably Footer
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</body>
</html>