<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>Let Me In!</title>
    <link th:href="@{/css/templateStyle.css}" rel="stylesheet" />
    <link th:href="@{/css/authentication.css}" rel="stylesheet" />
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">-->
</head>
<body>
<div class="navbar">
    <div class="menuCont">
        <div class="menu">
            <a th:href="@{/}">Let Me In!</a>
        </div>
    </div>
    <div class="menuCont">
        <div class="menu">
            <a th:href="@{/messages}">Inbox</a>
        </div>
        <div class="menu">
            <a th:href="@{/help/}">Help</a>
        </div>
        <div class="menu">
            <a th:href="@{/explore}">Explore</a>
        </div>
        <div class="menu" sec:authorize="isAuthenticated()">
            <form id="logoutForm" method="POST" th:action="@{/logout}">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>
            <span sec:authentication="name">
            </span> |
            <a onclick="document.forms['logoutForm'].submit()"> Logout</a>
        </div>
    </div>
</div>
<div class="mainSection">
    <div class="auth-container">
        <div class="title">
            Let Me In!
        </div>
        <div class="createForm">
            <form method="POST" th:action="@{/event/getEvent}">
                <div class="formInput" style="margin-bottom: 0">
                    <input name="eventId" type="text" class="form-control" placeholder="Enter Event Id"/>
                </div>
                <div class="button" style="margin-bottom: 0">
                    <input type="submit" value="Search Event">
                </div>
            </form>
        </div>
        <div class="sign-up">
            <div class="button">
                <a th:href="@{/event/create}">Create Event</a>
            </div>
        </div>
    </div>
</div>
<footer>
    Probably Footer
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</body>
</html>